.Signin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
  }

  .btn-form{
    border-radius: 4px;
    height: 35px;
    width: 100%;
    font-weight: 600;
  }