.link:hover{
  text-decoration: none !important;  
}
.link{
  margin-right: 10px;
}

.loading{
  position: absolute !important;
  left: 50%;
  top: 150%;
}

.notfound{
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12em !important;
}

.auth{
  display: flex !important;
    justify-content: flex-end;
    width: 100%;
}

.hover-user:hover{
  cursor: pointer;
}

.icon-user{
  background: rgb(175, 171, 171);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.pagination{
  position: absolute;
  right: 50%;
  bottom: 0;
}


.search-book{
  width: 100%;
    /* float: right; */
    margin: -3.5rem 1rem 1rem ;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .search-book{
    width: 100%;
      /* float: right; */
      margin: -1rem 1rem 1rem 0 ;
      display: flex;
      justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .card-list{
    display: flex !important;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center !important;
  }
  .pagination {
    position: absolute;
    right: 40%;
    bottom: 0;
  }
}

@media screen and (max-width: 415px) {
  .card-list{
    display: flex !important;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center !important;
  }

  .pagination {
    position: absolute;
    right: 32%;
    bottom: 0;
  }
}

@media screen and (max-width: 376px) {
  .card-list{
    display: flex !important;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center !important;
  }

  .pagination {
    position: absolute;
    right: 28%;
    bottom: 0;
  }
}

.no-cart{
  text-align: center;
}

.cart{
  border-top: 1px solid #e9e7e7;
  padding-top: 20px;
  justify-content: center;
}

.profile{
  border-top: 1px solid #e9e7e7;
  padding-top: 20px;
  justify-content: center;
}

.shop{  
  border-top: 1px solid #e9e7e7;
  padding-top: 20px;
  display: block;
  text-align: center;
}
.close-book{
  position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.close-book:hover{
  font-size: 36px;
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
    color: #fff;
    background-color: #80acc0;
    border-radius: 15%;
}

.cart-container{
  position: relative;
  width: fit-content;
  color: rgba(0,0,0,.5) !important;
}

.shop-container{
  margin-top: -10px;
  font-size: 22px;
  margin-right: 12px;
  color: rgba(0,0,0,.5) !important;
}

.cart-item{
  font-size: 30px;
  margin-right: 15px;
}

.number-item-cart{
  position: absolute;
    width: 22px;
    height: 17px;
    background: #FF5722;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    top: -6px;
    right: 10px;
    font-size: 12px;
}

#img-hover:hover{
  opacity: 0.3;  
}

#card-hover:hover{ 
  box-shadow: 0px 0px 3px #888888;
  transition: 0s !important;
}

.top-navbar{
  width: 100%;
  padding: 4px 0.5rem 4px 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e1eef4;
}


.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #e9e7e7;
  
}

.footer ul{
  margin-top: 20px !important;
}


.footer-icon{
  display: flex;
  flex-direction: row;
  margin: 5px
}

.footer-icon li{
  margin-right: 5px;
}


.footer ul li {
  color: #333;
  list-style-type: none;
}

.footer ul li:nth-child(1) {
  font-weight: 600;
}